[submodule "backend"]
	path = backend
	url = https://github.com/Kinetiq-PLM/kinetiq-erp-distribution-backend.git
[submodule "frontend"]
	path = frontend
	url = https://github.com/Kinetiq-PLM/kinetiq-frontend.git
